.content__slider {
  padding-top: 72px;
  padding-bottom: 80px;
  box-sizing: border-box;
  margin: 0;
}

@media all and (max-width: 769px) {
  .content__slider {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media all and (max-width: 425px) {
  .content__slider {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
