@import url(../slider/__container/slider__container.css);
@import url(../slider/__section-title/slider__section-title.css);
@import url(../slider/__user-name/slider__user-name.css);
@import url(../slider/__user-mail/slider__user-mail.css);
@import url(../slider/__user-info/slider__user-info.css);
@import url(../slider/__user-commit/slider__user-commit.css);
@import url(../slider/__user-avatar/slider__user-avatar.css);
@import url(../slider/__date-commit/slider__date-commit.css);
@import url(../slider/__commit/slider__commit.css);
@import url(../slider/__card-commit/slider__card-commit.css);
@import url(../slider/__user/slider__user.css);
@import url(../slider/__button-nav/slider__button-nav.css);
@import url(../slider/__points/slider__points.css);
@import url(../slider/__button/slider__button.css);
@import url(../slider/__wrapper/slider__wrapper.css);
@import url(../slider/__link/slider__link.css);



.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #f5f6f7;
  overflow: hidden;
  position: relative;
  width: 100%;
}
