.button_grey {
  width: 288px;
  height: 64px;
  color: #1a1b22;
  border-radius: 80px;
  background: #ffffff;
}

.button_grey:hover {
  opacity: 0.9;
  transform: translateY(10px);
  transition: 1s ease;
}

@media all and (max-width: 1024px) {
  .button_grey {
    width: 240px;
    height: 56px;
  }
}

@media all and (max-width: 767px) {
  .button_grey {
    width: 288px;
  }
}
