@import url(../author/__container/author__container.css);
@import url(../author/__about/author__about.css);
@import url(../author/__avatar/author__avatar.css);
@import url(../author/__title/author__title.css);
@import url(../author/__text/author__text.css);

.author {
  max-width: 1440px;
  background: #FFFFFF;
}

