.cards__item {
  max-width: 400px;
  min-height: 576px;
  background: #FFFFFF;
  border-radius: 16px;
  overflow: hidden;
  list-style: none;
  position: relative;
}

@media all and (max-width: 1024px) {
  .cards__item {
    min-width: 224px;
    min-height: 420px;
  }
}

@media all and (max-width: 767px) {
  .cards__item {
    min-width: 288px;
    min-height: 446px;
  }
}
