.header__link_theme-white {
  color: #FFFFFF;
  padding-bottom: 28px;
  border-bottom: 3px solid #FFFFFF;
}

@media all and (max-width: 768px) {
  .header__link_theme-white {
    padding-bottom: 20px;
  }
}

@media all and (max-width: 500px) {
  .header__link_theme-white {
    padding-bottom: 18px;
  }
}
