.slider__container {
  margin-top: 48px;
  margin-bottom: 80px;
}

@media all and (max-width: 769px) {
  .slider__container {
    margin-top: 32px;
    margin-bottom: 0;
  }
}

@media all and (max-width: 425px) {
  .slider__container {
    margin-top: 0;
  }
}
