.slider__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 48px auto;
  /* transform: translateX(-18%); */
}

@media all and (max-width: 769px) {
  .slider__container {
    margin: 32px auto;
  }
}

@media all and (max-width: 425px) {
  .slider__container {
    margin: 16px auto;
  }
}
