.cards__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 352px;
  max-height: 110px;
  margin: 16px 24px 0 24px;
}

@media all and (max-width: 768px) {
  .cards__text {
    margin: 10px 16px 0 16px;
  }
}


@media all and (max-width: 1024px) {
  .cards__text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 88px;
    font-size: 16px;
    line-height: 22px;
    max-width: 100%;
  }
}
