.footer__conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  min-height: 80px;
}


@media all and (max-width: 1024px) {
  .footer__conteiner {
    width: 90%;
  }
}

@media all and (max-width: 767px) {
  .footer__conteiner {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
  }
}
