.cards__result-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 0;
}

@media all and (max-width: 1024px) {
  .cards__result-title {
    font-size: 30px;
    line-height: 34px;
  }
}

@media all and (max-width: 767px) {
  .cards__result-title {
    margin-bottom: 16px;
  }
}
