.author__about {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  max-width: 600px;
}

@media all and (max-width: 1024px) {
  .author__about {
    margin-top: 0;
  }
}

@media all and (max-width: 600px) {
  .author__about {
    margin-top: 24px;
  }
}
