@import url(../result-searcher/__cards/result-searcher__cards.css);
@import url(../result-searcher/__preloader/result-searcher__preloader.css);
@import url(../result-searcher/result-searcher_toggle.css);
@import url(../result-searcher/__search-failed/result-searcher__search-failed.css);
