.author__avatar {
  margin-right: 56px;
  max-width: 464px;
  max-height: 464px;
  background-size: cover;
}

@media all and (max-width: 1024px) {
  .author__avatar {
    margin-right: 32px;
  }
}

@media all and (max-width: 600px) {
  .author__avatar {
    margin: 0;
  }
}
