@import url(../search-failed/__image/search-failed__image.css);
@import url(../search-failed/__title/search-failed__title.css);
@import url(../search-failed/__text/search-failed__text.css);

.search-failed {
  display: none;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 374px;
  background: #f5f6f7;
}

@media all and (max-width: 768px) {
  .search-failed {
    min-height: 300px;
  }
}
